
.player {
    ion-button {
        text-transform: initial;
    }
    mat-form-field {
        width: 100%;
    }

    ion-icon {
        //font-size: 27px;
        color: #9c9c9c;
    }

    .icon {
        font-size:  27px;
    }
}

ion-title {
    line-height: 35px;
}




.time-slider {
    width: 100%;
}


  