<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="services"></ion-back-button>
    </ion-buttons>
    <ion-title>Player</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="play()">Play</ion-button>
  <ion-button (click)="pause()">Pause</ion-button>
  <ion-button (click)="stop(true)">Stop</ion-button>
  
  <app-download [playlist]="playlist"></app-download>

  <ion-list>
    <ng-container *ngIf="typeId === 2">
      <ion-item lines="none">
        <ion-input type="text" placeholder="Сокровенное имя" [formControl]="secretName"></ion-input>
        <ion-button (click)="setSecretName()" item-end class="ion-no-margin">Напитать</ion-button>
      </ion-item>
      <ion-item *ngIf="secretNameWarning.length > 0" lines="none">
        <ion-label item-start>{{ secretNameWarning }}</ion-label>
      </ion-item>
    </ng-container>

    <ion-item *ngFor="let music of playlist; let index = index;">
      <!-- <ion-avatar slot="start">
        <img src="https://img.icons8.com/flat_round/2x/play--v1.png" (click)="play(music)">
      </ion-avatar> -->
     
      <ion-label [class.bold]="currentIndex === index" (click)="play(index)">
        <h2>{{ index + 1 }}. {{ music.title }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>