.time-slider {
    width: 100%; // !important;
    margin-top: -20px;
  }

  ion-note {
    white-space: nowrap;
  }

  .custom-padding {
    padding: 0px 0px 0px 7px;
  }

  .section-column {   
    padding: 12px 0 0 7px;
  }
  .section-name {
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .padding-duration {
    padding:0 7px 0 0;
  }

  .duration {
    font-size: 10px;
  }

  .block {
    display: block;
  }

  .track-name {
    color: #afafaf;
    display: block;
    font-size: 12px;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }