<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="services"></ion-back-button>
    </ion-buttons>
    <ion-title>Плейлист</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-download [playlist]="playlist"></app-download>

  <ion-list>
    <ng-container *ngIf="typeId === 2">
      <ion-item lines="none">
        <ion-input type="text" placeholder="Сокровенное имя" [formControl]="secretName"></ion-input>
        <ion-button (click)="setSecretName()" item-end class="ion-no-margin">Напитать</ion-button>
      </ion-item>
      <ion-item *ngIf="secretNameWarning.length > 0" lines="none">
        <ion-label item-start>{{ secretNameWarning }}</ion-label>
      </ion-item>
    </ng-container>

    <ion-item button *ngFor="let music of playlist; let index = index;" (click)="play(index)">
      <ion-label [color]="index === currentIndex && playlistAreSame ? 'primary' : 'ligth'">
        {{ index + 1 }}. {{ music.title }}
      </ion-label>
      <ion-icon *ngIf="music.isDownload" name="checkmark-outline" color="success"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>