<ion-content>

  <ion-item class="ion-text-center" lines="none">
    <ion-label color="primary">Озаригн</ion-label>
  </ion-item>

  <div class="ion-text-center" >
    <ion-item lines="none" class="inline" [routerLink]="['/profile']">
      <ion-avatar slot="start">
        <img src="assets/img/avatar.svg">
      </ion-avatar>
      <span *ngIf="data?.USER_FIO">{{ data.USER_FIO }} </span>
    </ion-item>
  </div>

  <!-- <ion-card *ngFor="let service of services">
    <ion-card-header (click)="next(service)">
      <ion-card-title style="font-size: 14px;">
        {{ service.Name }}
      </ion-card-title>
    </ion-card-header>
  </ion-card> -->

  <ion-list>   
   
    <ion-item *ngFor="let service of services" (click)="next(service)" >     
      <ion-label>
        <h2  style="font-size: 14px;">{{ service.Name }}</h2>
        
      </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>