.img {
    height: 75px;
    padding-right: 10px;
  }
  
  ion-icon.cart {
    font-size: 28px;
    color: #b6b6b6;
  }
  
  .not-paid {
    --ion-background-color:#e4e4e4;
  }
  
  h4 {
    margin-bottom: 4px !important;
  }
  
  p {
    margin: 0px;
  }
  
  .item-padding {
    padding: 8px 0px 8px 10px !important;
  }
  
  .new-line-text {
    white-space: normal;
  }
  
  .red {
    color: red !important;
  }