<ion-content>

  <ion-item class="ion-text-center" lines="none">
    <ion-label color="primary">Озаригн</ion-label>
  </ion-item>

  <div class="ion-text-center">
    <ion-item lines="none" class="inline">
      <ion-avatar slot="start">
        <img src="assets/img/avatar.svg">
      </ion-avatar>
      Василий Пупкин
    </ion-item>
  </div>

  <ion-card *ngFor="let service of services">
    <ion-card-header (click)="next(service)">
      <ion-card-title style="font-size: 14px;">
        {{ service.Name }}
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>