<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" defaultHref="tabs/audio"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar type="text" debounce="500" [formControl]="searchValue"
      placeholder="Введите название"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="player">
  <ion-grid style="min-height:100%;display: flex;  flex-flow: column;">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-no-padding">
        <app-search 
        [playlist]="playlist"
        [fullAudioStructure]="fullAudioStructure"        
        [searchValue]="searchValue"
        (initializate)="buildPlayList()">
      </app-search>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!searchValue.value" class="ion-justify-content-center ion-align-items-end " style="flex-grow: 1;">
      <ion-col>
        <download [serviceId]="id" [setPlaylist]="playlistToDownload$ | async" [type]="1" [oneFileMode]="false">
        </download>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>