<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" defaultHref="tabs/audio"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ getAlbumDescription(type) }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card button="true" *ngFor="let service of albums" [routerLink]="['./albums', service]"
  class="item-padding">
  <ion-item class="ion-no-padding" lines="none" color="transparent">
    <img class="img" src="assets/img/logo-512.png">
    <ion-label class="new-line-text ion-no-margin">
      <h4>{{ service.name }}</h4>
      <!-- <p [class.red]="service.type === 'video' || service.type === 'live'">{{ service.comment }}</p> -->
    </ion-label>
    <!-- <ion-button fill="clear" *ngIf="!service.paid">
      <ion-icon class="cart" slot="icon-only" name="cart"></ion-icon>
    </ion-button> -->
  </ion-item>
</ion-card>

</ion-content>
