.img {
    height: 75px;
    padding-right: 10px;
}

ion-icon.cart {
    font-size: 28px;
    // color: #b6b6b6;
  }

  h4 {
      margin-bottom: 4px !important;
  }

  p {
      margin: 0px;
  }

  .item-padding {
    padding: 8px 0px 8px 10px !important;
  }

  .new-line-text{ 
      white-space: normal;
  } 

  .badge {
    font-size: 12px;
    background: #f13a78;
    top: 3px;
    left: 2px;
    color: #fff;
    position: absolute;
    font-weight: 500;
    padding-bottom: 3px; z-index: 999;
  }