<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-page" padding>
  <div class="ion-text-center">
    <img src="assets/img/logo.png" alt="" />
  </div>

  <form [formGroup]="loginForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Логин</ion-label>
        <ion-input type="text" formControlName="login"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Пароль</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Войти</ion-button>
    </div>
  </form>
</ion-content>
