

.login-page {


  img {
    padding: 50px 0;
    text-align: center;
  }


mat-form-field {
width: 100%;
}

.no-decoration {
text-decoration: none;
}

.no-login {
position: absolute;
bottom: 0;
text-align: center;
width: 100%;
}

ion-icon {
color: #9c9c9c;
}
.icon {
  font-size: 27px;
}
}