<ion-header>

</ion-header>

<ion-content class="ion-padding" forceOverscroll="false">
  <ion-router-outlet></ion-router-outlet>
</ion-content>



<!-- <ion-footer class="ion-no-border">

</ion-footer> -->

<ion-tabs>

  <player></player>
  <ion-tab-bar>
    <ion-tab-button tab="services">
      <ion-icon name="list"></ion-icon>
      <ion-label>Сервисы</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="musical-notes"></ion-icon>
      <ion-label>Аудио</ion-label>
      <!-- <ion-badge>30</ion-badge> -->
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>