<profile-header [search]='true'></profile-header>
<ion-searchbar type="text" debounce="500" [formControl]="searchValue"
  placeholder="Введите название"></ion-searchbar>

<ion-content>
  <ng-container *ngIf="!searchValue.value">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="circles"
        refreshingText="Обновление..."></ion-refresher-content>
    </ion-refresher>


    <ion-card button="true" *ngFor="let service of audioServices" [routerLink]="['./albums', service]"
      class="item-padding">
      <ion-item class="ion-no-padding" lines="none" color="transparent">
        <img class="img" src="assets/img/logo-512.png">
        <ion-label class="new-line-text ion-no-margin">
          <h4>{{ getAlbumDescription(service) }}</h4>        
        </ion-label>
        <!-- <ion-button fill="clear" *ngIf="!service.paid">
        <ion-icon class="cart" slot="icon-only" name="cart"></ion-icon>
      </ion-button> -->
      </ion-item>
    </ion-card>
  </ng-container>


  <app-search [playlist]="[]" [fullAudioStructure]="fullAudioStructure" [searchValue]="searchValue"
    (initializate)="update()">
  </app-search>

</ion-content>