.choice-content {
  ion-button {
    --color: #333333;
    --background: #cddfff;
    --color-activated:#fff;
    --color-hover: #fff;
    --background-activated:#5284dd;
    --background-hover:#5284dd;
    --background-focused:#5284dd;
    --background-activated-opacity:1;
    --background-hover-opacity: 1;
  }
  ion-button {
    // height: ;
    ion-label {
      text-transform: initial;
      font-size: 14px;
    }
  }
  .cherpachok  {
    height: 70px;
  }
  .main-coord {
    height: 100px;
  }
}

.ion-padding-bottom-custom {
  --padding-top: 16px;
}
