<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="services"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ subSectionName }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>
      Сделайте выбор:
    </ion-list-header>

    <ion-item button *ngFor="let item of model.Items" (click)="choice(item, model.Next)">
      <ion-label>
        <h2>{{ item.Name }}</h2>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>