<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="services"></ion-back-button>
    </ion-buttons>
    <ion-title>Видео</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->
  
  <video controls autoplay width="100%" *ngIf="videoSrc" controlsList="nodownload">
    <!-- <source src="cat.webm" type="video/webm"> -->
    <source [src]="videoSrc" type="video/mp4">    
  </video>

  <ion-grid>    

    <ion-row class="ion-justify-content-center ion-align-items-end " style="flex-grow: 1;">
      <ion-col>
        <download *ngIf="service?.type !== 'live' " [serviceId]="service?.id" [setPlaylist]="playlistToDownload$ | async">
        </download>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>